* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100vh;
  background-color: #cebea9;
}

.activity-wrapper {
  background-color: #ebe8d5;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  font-family: "Indie Flower";
  font-size: larger;
}

.specify-box p {
  margin-bottom: 4%;
  /* display: none; */
}

.colors {
  background-color: #ccd5ae;
  background-color: #e9edc9;
  background-color: #fefae0;
  background-color: #faedcd;
  background-color: #a68a64;
}
